body{
    background-color: #FF9800;
    color: #ffffff;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: end;
    line-height: 4rem;
    background-color: white;
    animation-name: menu-animation;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@keyframes menu-animation {
    0%{
        transform: translateY(-80px);
    }
    100% {
        transform: translateX(0px);
    }
}
.menu a{
    padding: 0.6rem 0.9rem;
    border: 2px solid;
    border-radius: 7px;
    background-color: #ffffff;
    color: #2C7865;
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.7s ease;
}
.menu a:hover{
    color: #ffffff;
    background-color: #2C7865;
}
.menu a:active{
    color: #2C7865;
    background-color: #ffffff;
}
.homepage-body{
    padding-top: 10rem;
    text-align: center;
    line-height: 2rem;
    height: 525px;
}
.homepage-body p{
    margin-top: 18rem;
    line-height: 2rem;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #000000;
}
.homepage-body h1{
    text-shadow: 4px 4px 4px #000000;
    font-size: 4rem;
    line-height: 3rem;
}
#main-title {
    animation-name: main-title-animation;
    animation-duration: 3s;
    animation-timing-function: ease;
}
@keyframes main-title-animation {
    0%{
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

#role-title {
    animation-name: role-title-animation;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes role-title-animation {
    0%{
        transform: translateY(80px);
    }
    100% {
        transform: translateY(0px);
    }
}
#aboutme-title {
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}
#aboutme-body{
    line-height: 2rem;
    width: 90%;
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 1.2rem;
}
.skill-section p{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}
.skills img{
    padding: 0.2rem;
    margin: 3.5rem;
    margin-right: 0px;
    width: 15%;
}
.skill-section img:hover{
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 17px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.6s ease;
    transform: translateY(-15px);
}
.projects img{
    width: 18rem;
}
.project-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 3rem;
}
.projects h3{
    text-align: center;
    line-height: 2rem;
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 2rem;
    font-size: 2rem;
}
.card{
    border-radius: 17px;
    height: 442px;
    width: 18rem;
    margin: 2rem;
    margin-left: 4rem;
    padding: 2rem;
    background-color: #C5EBAA;
    cursor: pointer;
}
.card-title{
    font-size: 1.2rem;
}
.card-body{
    text-align: center;
    line-height: 2rem;
}
.card-body a{
    font-size: large;
    padding: 0.6rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #5755FE;
    border-radius: 7px;
}
.card-body a:active{
    color: #ffffff;
    background-color: #E72929;
}
.card:hover{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 17px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.6s ease;
    transform: translateY(-10px);
}
#email-tooltip {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 40px;
    left: 320px;
    font-size: 15px;
    background-color: black;
    color: white;
    /* display: inline-block; */
    width: 370px;
    border-radius: 7px;
}
#phone-tooltip {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 40px;
    right: 360px;
    font-size: 15px;
    background-color: black;
    color: white;
    width: 150px;
    /* display: inline-block; */
    border-radius: 7px;
}
.logos{
    position: relative;
    line-height: 4rem;
    text-align: center;
}
.logos img{
    margin-left: 4rem;
    height: 2rem;
    width: 2rem;
}
.logos img:hover {
    transform: translateY(-5px);
    transition: 0.4s ease;
    cursor: pointer;
}
.logos a{
    text-decoration: none;
}

.contact-me #copy-rights{
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
.contact-me h4{
    text-align: center;
    line-height: 2rem;
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 2rem;
    font-size: 2rem;
}
.contact-me p{
    margin-left: 4rem;
    font-size: 1.2rem;
    line-height: 3rem;
}
